body,
h1 {
    font-family: "Oswald", sans-serif;
    text-shadow: -3px 3px 6px rgba(0, 0, 0, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    font-family: "Inconsolata", sans-serif;
}

section[class^='bgimg'] {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

body,
html {
    height: 100%
}

a {
    text-decoration: none;
}

.img-circle {
    border-radius: 50%;
}

.static {
    position: fixed;
    z-index: 9999;
    margin: 10px 0 0 20px;
    color: white;
}

div#menu.static {
    display: grid;
    height: auto;
    background-color: rgba(234, 233, 233, 0.2);
    right: 0;
    top: 30%;
    z-index: 9999;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 8px 0 0 8px;
}

div#menu.static a {
    padding: 10px;
}

section#queSe img {
    width: 20%
}

section#queSe img:hover {
    animation: .5s animacion infinite;
}

.itemMenu {}

.bgimg1 {
    background: url("../images/FotoPortada.jpeg");
}

.bgimg2 {
    background: #620270;
}

.bgimg3 {
    background: #711b7e;
}

.bgimg4 {
    background: #81348c;
}

.bgimg5 {
    background: #914d9a;
}

.iphoneBack {
    width: 30%;
    margin: 10px;
}

#capturaInicioApp {
    position: absolute;
    height: 57%;
    top: 30%;
    left: 20.5%;
}

#capturaProximoPartido {
    position: absolute;
    height: 57%;
    top: 30%;
    left: 53%;
}

div[id^='contenedor'] {
    display: none;
}

#contenedor1 {
    display: block;
}

section#productoEstrella div.w3-display-middle preOrNext {
    cursor: pointer;
}

.contentText {
    text-align: center;
}

section#quienSoy img#imgMe {
    height: 30vh;
    margin-top: 12px;
}

section#quienSoy span#lema {
    float: right;
    font-style: italic;
}

.iconRight {
    position: absolute;
    top: 55%;
    right: 11%;
}

.iconLeft {
    position: absolute;
    top: 55%;
    left: 11%;
}

.maquinaEscribir {
    position: relative;
    float: left;
    /*background: tomato;*/
    color: #fff;
    font-size: 2.5em;
}

.maquinaEscribir span {
    position: absolute;
    right: 0;
    width: 0;
    /*background: tomato;    */
    animation: escribir 3s steps(30) alternate;
}

.iconUp,
.iconDown {
    transition: .3s;
}

.iconUp:hover,
.iconDown:hover {
    animation: .5s animacion infinite;
}

.sweet-alert {
    text-shadow: none !important;
}

.buttonBasic {
    border-radius: 5px;
    padding: 10px 17px;
    line-height: 19px;
    height: 19px;
    box-sizing: content-box;
    letter-spacing: 0.02em;
    white-space: nowrap;
    display: inline-block;
    background-color: rgba(234, 233, 233, 0.2);
}

@keyframes animacion {
    0% {}
    50% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0px)
    }
}



/*Responsive desing para dispositivos móviles */

@media screen and (max-width: 650px) {


    /*Correr botones de down y up */
    div.w3-display-bottomleft {
        left: 41% !important;
    }
    /*Cambiar tamaño del titulo principal*/
    section#home h1 {
        text-align: center;
        font-size: 50px !important;
    }
    section#quienSoy h1 {
        font-size: 30px !important;
    }

    section#quienSoy div.contentText {
        height: 65vh;
    }
    section#queSe h1 {
        font-size: 40px !important;
    }
    section#queSe img {
        width: 50%;
    }
    section#queSe .contentImages {
        width: 50vw;
        height: 55vh;
        overflow-x: scroll;
    }


    .contentText {
        /*background: red;*/
        width: 62vw;
        height: 55vh;
        overflow-x: scroll;
    }

    section#portafolio h1 {
        font-size: 32px !important;
    }
    /*Cambiar tamaño del titulo del index principal del APP*/
    section#productoEstrella .iphoneBack {
        width: 55%;
    }
    section#productoEstrella #capturaInicioApp {
        height: 26% !important;
        top: 27% !important;
        left: 26% !important;
    }
    section#productoEstrella #capturaProximoPartido {
        height: 26% !important;
        top: 65% !important;
        left: 49px !important;
    }

    section#productoEstrella div.w3-display-middle preOrNext {
        margin: -20px;
    }


    /*INCIO RESPONSIVE DESING INICIOAPP*/
    /*Cambiar tamaño de todos los titulos de incioApp*/
    section[id^='inicioApp'] h1 {
        text-align: center;
        font-size: 60px !important;
    }
    /*Cambiar tamaño de todas las descripciones del inicioApp*/
    section[id^='inicioApp'] p {
        font-size: 20px !important;
    }
    /*FIN RESPOSIVE DESING INICIOAPP*/
    /*INCIO RESPONSIVE DESING PROXIMOPARTIDO*/
    section[id^='proximoPartido'] h1 {
        text-align: center;
        font-size: 60px !important;
    }
    /*Cambiar tamaño de todas las descripciones del inicioApp*/
    section[id^='proximoPartido'] p {
        font-size: 20px !important;
    }
    /*FIN RESPOSIVE DESING PROXIMOPARTIDO*/
    /*INCIO RESPONSIVE DESING RESULTADO*/
    section[id^='resultado'] h1,
    section[id^='tablaPosiciones'] h1 {
        text-align: center;
        font-size: 60px !important;
    }
    /*Cambiar tamaño de todas las descripciones del inicioApp*/
    section[id^='resultado'] p,
    section[id^='tablaPosiciones'] p {
        font-size: 20px !important;
    }
    /*FIN RESPOSIVE DESING RESULTADO*/
}